In [6]:
# This is a comment line
# This is another comment line
# to comment or uncomment a block of codes use ctrl+'/'

#### Python Inputs and Outputs

In [8]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
total = num1 + num2  # here + is acting as a string concatenation operator
print ("So the total is", total)
print ("End of the program...")

Please enter the first number:  300
Please enter the second number:  200

300 <class 'str'> 2228582443440
200 <class 'str'> 2228582444016
So the total is 300200
End of the program...

In [9]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
total = num1 + num2  # here + is acting as an algebraic addition operator
print ("So the total is", total)
print ("End of the program...")

Please enter the first number:  200
Please enter the second number:  300

200 <class 'int'> 140709088215056
300 <class 'int'> 2228582412336
So the total is 500
End of the program...

In [195]:
print ("So", num1, "+", num2, "=", total)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(total))
print ("So {} + {} = {}".format(num1, num2, total))   # here {} denotes variable placeholder
print ("So {0} + {1} = {2}".format(num1, num2, total))   # indexed place holder
print ("So {2} + {1} = {0}".format(total, num2, num1))
print ("So {fnum} + {snum} = {tot}".format(fnum = num1, snum = num2, tot = total))  # labelled placeholder
print ("So {fnum} + {snum} = {tot}".format(tot = total, snum = num2, fnum = num1))
print ("So %d + %d = %d"%(num1, num2, total))   # %d stands for decimal
print ("So %d + %f = %d"%(num1, num2, total))   # %f stands for float
print ("So %d + %8.3f = %d"%(num1, num2, total))
print (f"So {num1} + {num2} = {total}")   # smart formatting available from Python 3.7 onwards

So 100 + 0 = 500
So 100 + 0 = 500
So 100 + 0 = 500
So 100 + 0 = 500
So 100 + 0 = 500
So 100 + 0 = 500
So 100 + 0 = 500
So 100 + 0 = 500
So 100 + 0.000000 = 500
So 100 +    0.000 = 500
So 100 + 0 = 500

In [31]:
# dynamic variable datatypes
var1 = 100
print (var1, type(var1), id(var1))
var1 = 100.5
print (var1, type(var1), id(var1))
var1 = "Punch"
print (var1, type(var1), id(var1))
var1 = "P"
print (var1, type(var1), id(var1))
var1 = 'Punch'
print (var1, type(var1), id(var1))
var1 = 'P'
print (var1, type(var1), id(var1))
var1 = True
print (var1, type(var1), id(var1))
var1 = False
print (var1, type(var1), id(var1))

100 <class 'int'> 140709088211856
100.5 <class 'float'> 2228582414000
Punch <class 'str'> 2228582295984
P <class 'str'> 2228509753456
Punch <class 'str'> 2228582295984
P <class 'str'> 2228509753456
True <class 'bool'> 140709087926096
False <class 'bool'> 140709087926128

In [32]:
# If values assigned to the variables ranging from -5 to 256, will have same id for variables
var1 = 100
var2 = 100
var3 = var1
print (var1, type(var1), id(var1))
print (var2, type(var2), id(var2))
print (var3, type(var3), id(var3))

100 <class 'int'> 140709088211856
100 <class 'int'> 140709088211856
100 <class 'int'> 140709088211856

In [34]:
var1 = 257
var2 = 257
var3 = var1
print (var1, type(var1), id(var1))
print (var2, type(var2), id(var2))
print (var3, type(var3), id(var3))

257 <class 'int'> 2228582415600
257 <class 'int'> 2228582415632
257 <class 'int'> 2228582415600

In [36]:
var1 = -6
var2 = -6
var3 = var1
print (var1, type(var1), id(var1))
print (var2, type(var2), id(var2))
print (var3, type(var3), id(var3))

-6 <class 'int'> 2228582415568
-6 <class 'int'> 2228582415760
-6 <class 'int'> 2228582415568

#### Python Operators

In [49]:
# Arithmetic Operators: + - * / // ** %
print (100 + 40)
print (100 - 40)
print (100 * 40)
print (100 / 40)   # float division
print (100 // 40)  # integer division
print (100 ** 4)   # exponentiation, to the power of 
print (5 ** 3)     # exponentiation, to the power of 
print (100 % 40)   # remainder of the division

140
60
4000
2.5
2
100000000
125
20

In [39]:
# Conditional Operators: > >= < <= != ==
print (100 < 40, 40 < 100)
print (100 <= 40, 40 <= 100)
print (100 > 40, 40 > 100)
print (100 >= 40, 40 >= 100)
print (100 != 40, 40 != 40)
print (100 == 40, 40 == 40)

False True
False True
True False
True False
True False
False True

In [43]:
# Logical Operators: and or not
print (False and False, False and True, True and False, True and True)
print (5 > 10 and 5 > 20, 5 > 10 and 5 < 10, 5 > 2 and 5 > 10, 5 > 3 and 5 > 4)
print (False or False, False or True, True or False, True or True)
print (5 > 10 or 5 > 20, 5 > 10 or 5 < 10, 5 > 2 or 5 > 10, 5 > 3 or 5 > 4)
print (not True, not False)

False False False True
False False False True
False True True True
False True True True
False True

In [45]:
# Assignment Operator: = 
# Special Assignment Operators: += -= *= /= //= **= %=
var = 100
print (var)
var += 100
print (var)
var -= 50
print (var)
var *= 10
print (var)
var //= 12
print (var)
var /= 15
print (var)

100
200
150
1500
125
8.333333333333334

In [48]:
# Ternary Operator
# Operators: Unary, Binary, Ternary
# Unary Operators (Require only one operand): +100 -300
# Binary Operators (Require only two operands): 700 + 100    900 - 300
# Ternary Operator (Requires only three operands)
num1 = 100
result = "Even" if (num1 % 2 == 0) else "Odd"
print (result)

num1 = 101
result = "Even" if (num1 % 2 == 0) else "Odd"
print (result)

Even
Odd

In [58]:
print ("Hello " * 3)
print ("Welcome " * 5)

Hello Hello Hello
Welcome Welcome Welcome Welcome Welcome

In [53]:
# ASCII (American Standard Code for Information Interchange) Codes
# A => 65, B => 66, Z => 90
# a => 97, b => 98, z => 122
# 0 => 48, 1 => 49, 9 => 57
# Space Bar/Blank => 32, Enter => 13, Esc => 27, Back Space => 9, Tab => 8
# ASCII Code is 8 bits code ranging from 0 to 255
# It can be divided into two categories:
# 1. Normal ASCII Codes (0 to 127) - Printable
# 2. Extended ASCII Codes (128 to 255) - Non-Printable

In [63]:
print (ord('A'), ord('a'), ord('Z'), ord('z'))  # returns characters to ASCII Codes
print (chr(65), chr(97), chr(90), chr(122))     # returns ASCII Codes to characters

65 97 90 122
A a Z z

In [64]:
# Bitwise Operators: & | ~ ^
# A => 65 => 64 + 1      => 0100 0001
#                        or 0010 0000 (32)
#                           ---------
# a => 97 => 64 + 32 + 1 => 0110 0001
char1 = 'A'
result = chr(ord(char1) | 32)
print (char1, result)

A a

#### Conditional Statements

In [77]:
# Take three numbers from the user as input and find the maximum of these numbers
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
num3 = int(input("Please enter the third integer: "))
if (num1 > num2):
    if (num1 > num3):
        print ("The first number is the maximum number...")
        print ("So the maximum number is", num1)
    else:
        print ("The third number is the maximum number...")
        print ("So the maximum number is", num3)
elif (num2 > num3):
    print ("The second number is the maximum number...")
    print ("So the maximum number is", num2)
else:
    print ("The third number is the maximum number...")
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first integer:  200
Please enter the second integer:  100
Please enter the third integer:  300

The third number is the maximum number...
So the maximum number is 300
End of the program...

In [83]:
# Take three numbers from the user as input and find the maximum of these numbers
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
num3 = int(input("Please enter the third integer: "))
if (num1 > num2 and num1 > num3):
    print ("The first number is the maximum number...")
    print ("So the maximum number is", num1)
elif (num2 > num3):
    print ("The second number is the maximum number...")
    print ("So the maximum number is", num2)
else:
    print ("The third number is the maximum number...")
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first integer:  100
Please enter the second integer:  100
Please enter the third integer:  100

The third number is the maximum number...
So the maximum number is 100
End of the program...

In [91]:
# Calculator Program
print ("M A I N  M E N U ...")
print ("~~~~~~~~~~~~~~~~~~~~")
print ("1 >  A D D I T I O N  O P E R A T I O N ...")
print ("2 >  S U B T R A C T I O N  O P E R A T I O N ...")
print ("3 >  M U L T I P L I C A T I O N  O P E R A T I O N ...")
print ("4 >  D I V I S I O N  O P E R A T I O N ...")
choice = int(input("Please enter youe choice integer (1 to 4): "))
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
if (choice == 1):
    print ("Performing the addition operation...")
    result = num1 + num2
    print (f"So {num1} + {num2} = {result}")
elif (choice == 2):
    print ("Performing the subtraction operation...")
    result = num1 - num2
    print (f"So {num1} - {num2} = {result}")
elif (choice == 3):
    print ("Performing the multiplication operation...")
    result = num1 * num2
    print (f"So {num1} * {num2} = {result}")
elif (choice == 4):
    print ("Performing the division operation...")
    if (num2 == 0):
        print ("Division by ZERO is Illegal !!!")
        print ("Division operation can not be carried out...")
    else:
        result = num1 / num2
        print (f"So {num1} / {num2} = {result}")
else:
    print ("Invalid choice number has been provided...")
    print ("No operation could get carried out...")
print ("End of the program...")

M A I N  M E N U ...
~~~~~~~~~~~~~~~~~~~~
1 >  A D D I T I O N  O P E R A T I O N ...
2 >  S U B T R A C T I O N  O P E R A T I O N ...
3 >  M U L T I P L I C A T I O N  O P E R A T I O N ...
4 >  D I V I S I O N  O P E R A T I O N ...

Please enter youe choice integer (1 to 4):  4
Please enter the first integer:  100
Please enter the second integer:  0

Performing the division operation...
Division by ZERO is Illegal !!!
Division operation can not be carried out...
End of the program...

In [97]:
print ("Hello", "to all")
print ("Good afternoon")

Hello to all
Good afternoon

In [96]:
help(print)   # ... means ellipsis operator

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [100]:
print ("Hello", "to all", sep = " - ", end = ", ")
print ("Good afternoon")

Hello - to all, Good afternoon

#### Python Loops

In [111]:
for i in range(10):
    print (i, end = ", ")
print ("")
for i in range(5, 10):
    print (i, end = ", ")
print ("")
for i in range(1, 10, 2):
    print (i, end = ", ")
print ("")
for i in range(1, 10, 3):
    print (i, end = ", ")
print ("")
count = 0
for i in range(10, -10, -1):
    print (i, end = ", ")
    count += 1
print ("\ncount =", count)

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
5, 6, 7, 8, 9,
1, 3, 5, 7, 9,
1, 4, 7,
10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9,
count = 20

In [ ]:
# Pattern print - 1

n = 6          i   .   *
             -------------
.....*         1   5   1        (i, n)
....***        2   4   3   . => (n - i)
...*****       3   3   5
..*******      4   2   7   * => (2 * i - 1)
.*********     5   1   9
***********    6   0  11
             -------------
             Tracing Table

In [117]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the program...")

Please enter the number of layers:  6

.....*
....***
...*****
..*******
.*********
***********
End of the program...

In [ ]:
# Class Assignment - 1
# Pattern print - 2

n = 6          i   .   *
             -------------
***********    1   0  11        (i, n)
.*********     2   1   9   . => (i - 1)
..*******      3   2   7
...*****       4   3   5   * => (2 * (n - i) + 1)
....***        5   4   3
.....*         6   5   1
             -------------
             Tracing Table (Update it to get the logic and implement in Python)

In [118]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (i - 1) + "*" * (2 * (n - i) + 1))
print ("End of the program...")

Please enter the number of layers:  11

*********************
.*******************
..*****************
...***************
....*************
.....***********
......*********
.......*******
........*****
.........***
..........*
End of the program...

In [ ]:
# Pattern print - 3
(User input must be an ODD number)
n = 11         i   .   *     m = (n + 1) // 2 = 6
             -------------
.....*         1   5   1        (i, n, m)
....***        2   4   3   . => (m - i)
...*****       3   3   5
..*******      4   2   7   * => (2 * i - 1)
.*********     5   1   9
***********  __6___0__11__
.*********     7   1   9
..*******      8   2   7   . => (i - m)
...*****       9   3   5
....***       10   4   3   * => (2 * (n - i) + 1)
.....*        11   5   1
             -------------
             Tracing Table

In [122]:
n = int(input("Please enter the ODD number of layers: "))
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m):
        b = (i - m)
        s = (2 * (n - i) + 1)
    else:
        b = (m - i)
        s = (2 * i - 1)
    print ("." * b + "*" * s)
print ("End of the program...")

Please enter the ODD number of layers:  11

.....*
....***
...*****
..*******
.*********
***********
.*********
..*******
...*****
....***
.....*
End of the program...

In [124]:
n = int(input("Please enter the ODD number of layers: "))
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m): b = (i - m); s = (2 * (n - i) + 1)
    else: b = (m - i); s = (2 * i - 1)
    print ("." * b + "*" * s)
print ("End of the program...")

Please enter the ODD number of layers:  13

......*
.....***
....*****
...*******
..*********
.***********
*************
.***********
..*********
...*******
....*****
.....***
......*
End of the program...

In [126]:
for i in range(10):
    print (i, end = ", ")
else:
    print ("\nExecuting the ELSE block...")
    print ("Had a smooth execution...")
print ("\nEnd of the program...")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
Executing the ELSE block...
Had a smooth execution...

End of the program...

In [131]:
# use of 'break' statement
for i in range(10):
    print (i, end = ", ")
    if (i == 9):
        print ("\nExecuting the BREAK block...")
        break
else:
    print ("\nExecuting the ELSE block...")
    print ("Had a smooth execution...")
print ("\nEnd of the program...")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
Executing the BREAK block...

End of the program...

In [133]:
# check whether one user given number if PRIME or not
num = int(input("Please enter one integer: "))
for i in range(2, num):
    if (num % i == 0):
        print (f"{num} is Not a PRIME Number...")
        break
else:
    print (f"{num} is a PRIME Number...")
print ("End of the program...")

Please enter one integer:  11

11 is a PRIME Number...
End of the program...

In [141]:
# use of 'continue' statement
for i in range(10):
    if (i == 4 or i == 6):
        print (f"\nExecuting the continue statement for i = {i}...")
        continue
    else:
        pass
    print (i, end = ", ")
else:
    print ("\nExecuting the ELSE block...")
    print ("Had a smooth execution...")
print ("\nEnd of the program...")

0, 1, 2, 3,
Executing the continue statement for i = 4...
5,
Executing the continue statement for i = 6...
7, 8, 9,
Executing the ELSE block...
Had a smooth execution...

End of the program...

In [140]:
# check whether a given integer number is EVEN or not
num = int(input("Please enter one integer: "))
if (num % 2 == 1):
    pass   # statement placeholder
else:
    print (f"{num} is an EVEN Number...")
print ("End of the program...")

Please enter one integer:  11

End of the program...

In [134]:
i = 1
while (i <= 10):
    print ("i =", i, end = ", ")
    i += 1
else:
    print ("\nExecuting the ELSE Block...")
print ("\nEnd of the program...")

i = 1, i = 2, i = 3, i = 4, i = 5, i = 6, i = 7, i = 8, i = 9, i = 10,
Executing the ELSE Block...

End of the program...

In [143]:
# example of nested loop
print ("Visit Doctor...")    # 1 time
for day in range(1, 6):
    print ("Good Morning...")    # 5 times
    for medi in range(1, 4):
        print (f"Day Number -> {day} and Medicine Number -> {medi}...")    # 15 times
    print ("Good Night...")    # 5 times
    print ("----------------------------------------------------------------")    # 5 times
print ("Thanks to Doctor...")    # 1 time

Visit Doctor...
Good Morning...
Day Number -> 1 and Medicine Number -> 1...
Day Number -> 1 and Medicine Number -> 2...
Day Number -> 1 and Medicine Number -> 3...
Good Night...
----------------------------------------------------------------
Good Morning...
Day Number -> 2 and Medicine Number -> 1...
Day Number -> 2 and Medicine Number -> 2...
Day Number -> 2 and Medicine Number -> 3...
Good Night...
----------------------------------------------------------------
Good Morning...
Day Number -> 3 and Medicine Number -> 1...
Day Number -> 3 and Medicine Number -> 2...
Day Number -> 3 and Medicine Number -> 3...
Good Night...
----------------------------------------------------------------
Good Morning...
Day Number -> 4 and Medicine Number -> 1...
Day Number -> 4 and Medicine Number -> 2...
Day Number -> 4 and Medicine Number -> 3...
Good Night...
----------------------------------------------------------------
Good Morning...
Day Number -> 5 and Medicine Number -> 1...
Day Number -> 5 and Medicine Number -> 2...
Day Number -> 5 and Medicine Number -> 3...
Good Night...
----------------------------------------------------------------
Thanks to Doctor...

In [146]:
# example of nested loop
print ("Visit Doctor...")    # 1 time
day = 1
medicount = 0
while (day <= 5):
    print ("Good Morning...")    # 5 times
    medi = 1
    while (medi <= 3):
        print (f"Day Number -> {day} and Medicine Number -> {medi}...")    # 15 times
        medi += 1
        medicount += 1
    print ("Good Night...")    # 5 times
    print ("----------------------------------------------------------------")    # 5 times
    day += 1
print (f"So the total number of medicine consumed is {medicount}...")
print ("Thanks to Doctor...")    # 1 time

Visit Doctor...
Good Morning...
Day Number -> 1 and Medicine Number -> 1...
Day Number -> 1 and Medicine Number -> 2...
Day Number -> 1 and Medicine Number -> 3...
Good Night...
----------------------------------------------------------------
Good Morning...
Day Number -> 2 and Medicine Number -> 1...
Day Number -> 2 and Medicine Number -> 2...
Day Number -> 2 and Medicine Number -> 3...
Good Night...
----------------------------------------------------------------
Good Morning...
Day Number -> 3 and Medicine Number -> 1...
Day Number -> 3 and Medicine Number -> 2...
Day Number -> 3 and Medicine Number -> 3...
Good Night...
----------------------------------------------------------------
Good Morning...
Day Number -> 4 and Medicine Number -> 1...
Day Number -> 4 and Medicine Number -> 2...
Day Number -> 4 and Medicine Number -> 3...
Good Night...
----------------------------------------------------------------
Good Morning...
Day Number -> 5 and Medicine Number -> 1...
Day Number -> 5 and Medicine Number -> 2...
Day Number -> 5 and Medicine Number -> 3...
Good Night...
----------------------------------------------------------------
So the total number of medicine consumed is 15...
Thanks to Doctor...

In [148]:
myexpr = input("Please enter your expression...")
result = eval(myexpr)
print (f"Result against the expression {myexpr} is {result}...")
print ("End of the program...")

Please enter your expression... 100 + (2 * 3 + 500) * 10

Result against the expression 100 + (2 * 3 + 500) * 10 is 5160...
End of the program...

#### User Defined Functions (UDF)

In [150]:
def funct1():
    print ("Welcome " * 4)
    
funct1()
funct1()
funct1()
print (type(funct1), id(funct1))

Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome
<class 'function'> 2228602939856

In [152]:
def funct2(msg, times):   # msg and times are called as positional parameters
    print (msg * times)
    
funct2 ("Hello ", 10)   # "Hello " and 10 are called as positional arguments
funct2("Good Bye !!! ", 6)
funct2("Hi !!! ", 3)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
Good Bye !!! Good Bye !!! Good Bye !!! Good Bye !!! Good Bye !!! Good Bye !!!
Hi !!! Hi !!! Hi !!!

In [156]:
def funct3(msg, times):
    return msg * times

result = funct3("Hello ", 10)
print (result)
result = funct3("Hi !!!", 5)
print (result)
print (type(result), id(result))
print (type(funct3), id(funct3))
result = funct3(1000, 5)
print (result)
print (type(result), id(result))

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
Hi !!!Hi !!!Hi !!!Hi !!!Hi !!!
<class 'str'> 2228609181696
<class 'function'> 2228602938272
5000
<class 'int'> 2228602915376

In [170]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):    # positional parameters
    print (f"par1 = {par1}, par2 = {par2} and par3 = {par3}...")
    
funct4(100, 200, 300)    # positional arguments
funct4(100, 200)
funct4(100)
funct4()
funct4(par1 = 100, par3 = 300)
funct4(par3 = 300, par1 = 100)
funct4(par2 = 200)
funct4(par1 = 100.5, par3 = "Amitava")

par1 = 100, par2 = 200 and par3 = 300...
par1 = 100, par2 = 200 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 333...
par1 = 111, par2 = 222 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 300...
par1 = 100, par2 = 222 and par3 = 300...
par1 = 111, par2 = 200 and par3 = 333...
par1 = 100.5, par2 = 222 and par3 = Amitava...

In [ ]:
Class Assignment - 2 / Day-1
----------------------------
Find the sum of first n terms of the following series, where n will be given by the user as input -
total =   1 + 2 + 3 + 4 + 10 + 5 + 6 + 7 + 8 + 26 + 9 + 10 + ... n temrs
term no.  1   2   3   4   5    6   7   8   9   10  11   12     
if n = 4 then output = 10
if n = 5 then output = 20
if n = 10 then output = 72
if n = 11 then output = 81

Can you find the value of the 99th term of the series? Answer: 80

In [ ]:
# Pseudo Code of the Series Problem
input n
temp_sum = 0, final_sum = 0, term = 1
for i = 1 to n
    if (i mod 5 = 0) then
        final_sum = final_sum + temp_sum
        temp_sum = 0
    else
        final_sum = final_sum + term
        temp_sum = temp_sum + term
        term = term + 1
    end if
end for
print final_sum
end

In [223]:
# Python implementation of the Series Problem
n = int(input("Please enter the number of terms of the series: "))
temp_sum, final_sum, term = 0, 0, 1
for i in range(1, n + 1):
    if (i % 5 == 0):
        final_sum = final_sum + temp_sum
        print (f"For i = {i} adding the temporary sum {temp_sum}...")
        temp_sum = 0
    else:
        final_sum = final_sum + term
        temp_sum = temp_sum + term
        print (f"For i = {i} adding the term {term}...")
        term = term + 1
print (f"So the final sum of the series is {final_sum}...")

Please enter the number of terms of the series:  13

For i = 1 adding the term 1...
For i = 2 adding the term 2...
For i = 3 adding the term 3...
For i = 4 adding the term 4...
For i = 5 adding the temporary sum 10...
For i = 6 adding the term 5...
For i = 7 adding the term 6...
For i = 8 adding the term 7...
For i = 9 adding the term 8...
For i = 10 adding the temporary sum 26...
For i = 11 adding the term 9...
For i = 12 adding the term 10...
For i = 13 adding the term 11...
So the final sum of the series is 102...

In [176]:
# different inbuilt collections
var1 = [100, 2.45, True, "Food", 201]   # mutable
print (var1, len(var1), type(var1), id(var1))
var1 = (100, 2.45, True, "Food", 201)   # immutable, read only
print (var1, len(var1), type(var1), id(var1))
var1 = {'name':'Bidisha', 'location':'Noida', 'job':'Developer', 'company':'Accenture'}
print (var1, len(var1), type(var1), id(var1))
var1 = {"Delhi", 100, 2.45, True, "Food", 201, True, "Food", 201}
print (var1, len(var1), type(var1), id(var1))
var1 = frozenset(["Delhi", 100, 2.45, True, "Food", 201, True, "Food", 201])   # immutable, read only
print (var1, len(var1), type(var1), id(var1))

[100, 2.45, True, 'Food', 201] 5 <class 'list'> 2228582071488
(100, 2.45, True, 'Food', 201) 5 <class 'tuple'> 2228609335520
{'name': 'Bidisha', 'location': 'Noida', 'job': 'Developer', 'company': 'Accenture'} 4 <class 'dict'> 2228598223424
{True, 2.45, 100, 201, 'Delhi', 'Food'} 6 <class 'set'> 2228603847392
frozenset({True, 2.45, 100, 201, 'Delhi', 'Food'}) 6 <class 'frozenset'> 2228603848288

In [178]:
def funct5(num1, num2 = None):
    # if (num2 == None):
    if (num2 is None):
        return 2 * num1
    else:
        return num1 + num2
    
result = funct5(100, 600)
print (result)
result = funct5(100)
print (result)

700
200

In [193]:
def funct6(num1, num2):
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tt, dd, pp, qq = funct6(100, 40)
print (f"Total = {tt}, Difference = {dd}, Product = {pp} and Quotient = {qq}...")
result = funct6(100, 40)
print (result, len(result), type(result), id(result))
print (f"Total = {result[0]}, Difference = {result[1]}, Product = {result[2]} and Quotient = {result[3]}...")

Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...
(140, 60, 4000, 2.5) 4 <class 'tuple'> 2228600752384
Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...

In [197]:
# function with variable number of arguments
def funct7(*arg):    # *arg1 means forcefully defining arg1 as a tuple
    print (arg, len(arg), type(arg), id(arg))
    
funct7("Amitava", "Developer", 65000)
funct7("Amitava", "Developer", 65000, "Pune")
funct7("Amitava", "Developer", 65000, "Pune", "Masters")

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2228600793408
('Amitava', 'Developer', 65000, 'Pune') 4 <class 'tuple'> 2228602849296
('Amitava', 'Developer', 65000, 'Pune', 'Masters') 5 <class 'tuple'> 2228596647072

In [201]:
# function with variable number of arguments
def funct8(**kwarg):    # **kwarg means forcefully defining kwarg as a dictionary type key-word argument
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct8(name = "Amitava", job = "Developer", salary = 65000)
funct8(name = "Amitava", job = "Developer", salary = 65000, location = "Pune")
funct8(name = "Amitava", job = "Developer", salary = 65000, location = "Pune", qualification = "Masters")

{'name': 'Amitava', 'job': 'Developer', 'salary': 65000} 3 <class 'dict'> 2228601128512
{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'Pune'} 4 <class 'dict'> 2228599609280
{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'Pune', 'qualification': 'Masters'} 5 <class 'dict'> 2228610262144

In [205]:
# function with variable number of arguments
def funct8(*arg, **kwarg):
    print (arg, len(arg), type(arg), id(arg))
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct8("Amitava", "Developer", 65000, location = "Pune", qualification = "Masters", hobby = 'drawing')
print ()
funct8("Amitava", "Developer", 65000)
print ()
funct8(location = "Pune", qualification = "Masters", hobby = 'drawing')

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2228600902272
{'location': 'Pune', 'qualification': 'Masters', 'hobby': 'drawing'} 3 <class 'dict'> 2228600053184

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2228600914688
{} 0 <class 'dict'> 2228600052992

() 0 <class 'tuple'> 2228505804864
{'location': 'Pune', 'qualification': 'Masters', 'hobby': 'drawing'} 3 <class 'dict'> 2228599936960

In [211]:
# non-recursive factorial calculating function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
def factorial_nr(num):
    if (num == 0 or num == 1): return 1
    fact = num
    for i in range(2, num):
        print (f"Executing for i = {i}...")
        fact *= i
    return fact

n = 5
result = factorial_nr(n)
print (f"So factorial of {n} is {result}...")
print ()
n = 6
result = factorial_nr(n)
print (f"So factorial of {n} is {result}...")

Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
So factorial of 5 is 120...

Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
Executing for i = 5...
So factorial of 6 is 720...

In [213]:
# recursive factorial calculating function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
def factorial_r(num):
    if (num == 0 or num == 1): return 1    # base case: for certain input values outputs are pre-known to us
    return num * factorial_r(num - 1)    # reursive case: the function will call itself

n = 5
result = factorial_r(n)
print (f"So factorial of {n} is {result}...")
print ()
n = 6
result = factorial_r(n)
print (f"So factorial of {n} is {result}...")

So factorial of 5 is 120...

So factorial of 6 is 720...

In [ ]:
5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120

In [215]:
# lambda function
my_square = lambda num: num * num

print (my_square, type(my_square), id(my_square))

print (my_square(5))

result = my_square(6)
print (result)

<function <lambda> at 0x00000206E2F3ECA0> <class 'function'> 2228600695968
25
36

In [216]:
my_addition = lambda num1, num2: num1 + num2

print (my_addition, type(my_addition), id(my_addition))

print (my_addition(500, 400))

result = my_addition(300, 500)
print (result)

<function <lambda> at 0x00000206E3162820> <class 'function'> 2228602939424
900
800

In [ ]:
num1 = num1 * 10  # assignment statement

In [217]:
my_factorial = lambda num1: 1 if (num1 == 0 or num1 == 1) else num1 * my_factorial(num1 - 1)

print (my_factorial, type(my_factorial), id(my_factorial))

print (my_factorial(5))

result = my_factorial(6)
print (result)

<function <lambda> at 0x00000206E2F3E040> <class 'function'> 2228600692800
120
720

In [219]:
def funct9(num):
    myproduct = lambda n: n * num
    return myproduct

var10 = funct9(10)
var20 = funct9(20)
print (var10(3))
print (var20(4))
print (funct9(30)(5))

30
80
150

In [220]:
# using the global keyword
i = 10
def funct10():
    i = 100
    print (i, id(i))
    
print (i, id(i))
funct10()
print (i, id(i))

10 140709088208976
100 140709088211856
10 140709088208976

In [221]:
i = 10
def funct10():
    global i
    i = 100
    print (i, id(i))
    
print (i, id(i))
funct10()
print (i, id(i))

10 140709088208976
100 140709088211856
100 140709088211856