## Introduction to Python

### Python Inputs and Outputs

In [2]:
num1 = input("Please enter the first integer: ")
num2 = input("Please enter the second integer: ")
print (num1, type(num1), num2, type(num2))
result = num1 + num2
print ("So the result is", result)
print ("End of the program...")

Please enter the first integer:  200
Please enter the second integer:  300

200 <class 'str'> 300 <class 'str'>
So the result is 200300
End of the program...

In [3]:
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
print (num1, type(num1), num2, type(num2))
result = num1 + num2
print ("So the result is", result)
print ("End of the program...")

Please enter the first integer:  200
Please enter the second integer:  300

200 <class 'int'> 300 <class 'int'>
So the result is 500
End of the program...

In [4]:
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
result = num1 + num2

Please enter the first integer:  300
Please enter the second integer:  400

In [21]:
print ("So", num1, "+", num2, "=", result)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(result))
print ("So {} + {} = {}".format(num1, num2, result))      # {} indicates variable place holder
print ("So {0} + {1} = {2}".format(num1, num2, result))   # using indexed place holder
print ("So {2} + {1} = {0}".format(result, num2, num1))
print ("So {fnum} + {snum} = {tot}".format(fnum = num1, snum = num2, tot = result))  # labelled place holder
print ("So {fnum} + {snum} = {tot}".format(tot = result, snum = num2, fnum = num1))
print ("So %d + %d = %d"%(num1, num2, result))  # %d means decimal i.e. integer number
print ("So %d + %d = %f"%(num1, num2, result))  # %f means float
print ("So %d + %d = %10.6f"%(num1, num2, result))
print ("So %d + %d = %8.2f"%(num1, num2, result))
print (f"So {num1} + {num2} = {result}")  # smart formatting available from Python 2.7 onwards

So 300 + 400 = 700
So 300 + 400 = 700
So 300 + 400 = 700
So 300 + 400 = 700
So 300 + 400 = 700
So 300 + 400 = 700
So 300 + 400 = 700
So 300 + 400 = 700
So 300 + 400 = 700.000000
So 300 + 400 = 700.000000
So 300 + 400 =   700.00
So 300 + 400 = 700

### Python Operators

In [22]:
# Arithmetic Operators: + - * / // % **
print (100 + 40)   # addition
print (100 - 40)   # subtraction
print (100 * 40)   # multiplication
print (100 / 40)   # float division
print (100 // 40)  # integer division
print (100 % 40)   # modulus, remainder of the division
print (100 ** 4)   # exponentiation

140
60
4000
2.5
2
20
100000000

In [31]:
# logical Operators: and or not
print (10 > 5 and 10 > 7, 10 > 5 and 7 > 10)
print (10 > 5 or 10 > 7, 10 > 5 or 7 > 10)
print (10 > 5, not 10 > 5, 5 > 10, not 5 > 10)
print (not True, not False)

True False
True True
True False False True
False True

In [30]:
# Relational Operators: < <= > >= != ==
print (100 > 5, 100 >= 5, 100 < 300, 100 <= 300, 100 != 300, 100 == 100)

True True True True True True

In [34]:
# Assignment Operators: = Special Assignment Operators: += -= *= /= //= %= **=
var1 = 100
var1 = var1 * 3    # assignment statement
print (var1)
var1 *= 2
print (var1)

300
600

In [35]:
# Operator Classifications
# Unary Operator (one operand): +100 -300
# Binary Operator (two operands): 100 + 400  600 * 4
# ternary operator (three operands, true part, condition, false part)
num1 = 100
result = "Even" if (num1 % 2 == 0) else "Odd"
print (num1, result)

num1 = 105
result = "Even" if (num1 % 2 == 0) else "Odd"
print (num1, result)

100 Even
105 Odd

In [ ]:
# Anaconda - Jupyter Lab
# Home Work: Do a study on "Bitwise Operators": & | ~ ^

### Conditional Statements

In [36]:
# Take three numbers from the user input and find the maximum of three input numbers.
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2):
    if (num1 > num3):
        print ("So the first number is the maximum number...")
        print (f"So the maximum number is {num1}...")
    else:
        print ("So the third number is the maximum number...")
        print (f"So the maximum number is {num3}...")
elif (num2 > num3):
    print ("So the second number is the maximum number...")
    print (f"So the maximum number is {num2}...")
else:
    print ("So the third number is the maximum number...")
    print (f"So the maximum number is {num3}...")
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  300
Please enter the third number:  200

So the second number is the maximum number...
So the maximum number is 300...
End of the program...

In [ ]:
# home Work: Take three numbers from the user input and find the second maximum of three input numbers.

input num1, num2, num3

Step 1.
Compare num1 and num2, and keep the maximum of them in max1 and other number in max2

Step 2.
Now we shall deal with max1, max2 and num3

                         max1         max2
                         500          200
        num3 ->    700         300          100
        2nd Max -> 500         300          200
                   max1        num3         max2

In [1]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))

if (num1 > num2): max1 = num1; max2 = num2
else: max1 = num2; max2 = num1

if (num3 > max1): print ("So the second maximum number is", max1)
elif (num3 > max2): print ("So the second maximum number is", num3)
else: print ("So the second maximum number is", max2)

print ("\nEnd of the program...")

Please enter the first number:  300
Please enter the second number:  100
Please enter the third number:  200

So the second maximum number is 200

End of the program...

### Looping in Python

In [40]:
# for i in range(10):
# for i in range(0, 10):
for i in range(0, 10, 1):
    print (f"Executing for i = {i}...")
else:
    print ("Executing the ELSE block...")
print ("End of the program...")

Executing for i = 0...
Executing for i = 1...
Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
Executing for i = 5...
Executing for i = 6...
Executing for i = 7...
Executing for i = 8...
Executing for i = 9...
Executing the ELSE block...
End of the program...

In [41]:
for i in range(1, 10, 2):
    print (f"Executing for i = {i}...")
else:
    print ("Executing the ELSE block...")
print ("End of the program...")

Executing for i = 1...
Executing for i = 3...
Executing for i = 5...
Executing for i = 7...
Executing for i = 9...
Executing the ELSE block...
End of the program...

In [42]:
for i in range(10, 1, -2):
    print (f"Executing for i = {i}...")
else:
    print ("Executing the ELSE block...")
print ("End of the program...")

Executing for i = 10...
Executing for i = 8...
Executing for i = 6...
Executing for i = 4...
Executing for i = 2...
Executing the ELSE block...
End of the program...

In [46]:
for i in range(1, 10):
    print (f"Executing for i = {i}...")
    if (i == 7):
        print ("Exiting from the loop...")
        break
else:
    print ("Executing the ELSE block...")
print ("End of the program...")

Executing for i = 1...
Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
Executing for i = 5...
Executing for i = 6...
Executing for i = 7...
Exiting from the loop...
End of the program...

In [50]:
num = int(input("Please enter one integer number: "))
for i in range(2, num):
    if (num % i == 0):
        print (f"{num} is NOT a Prime Number...")
        break
else:
    print (f"{num} is a Prime Number...")
print ("End of the program...")

Please enter one integer number:  21

21 is NOT a Prime Number...
End of the program...

In [59]:
for i in range(1, 11):
    if (i == 5 or i == 7):
        print ("Going again for the next looping")
        continue
    else:
        pass   # statement place holder
    print (f"Executing for i = {i}...")
else:
    print ("Executing the ELSE Block...")
print ("End of the program...")

Executing for i = 1...
Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
Going again for the next looping
Executing for i = 6...
Going again for the next looping
Executing for i = 8...
Executing for i = 9...
Executing for i = 10...
Executing the ELSE Block...
End of the program...

In [60]:
for i in range(10):
    pass

In [61]:
i = 1
while (i <= 10):
    print (f"Looping for i = {i}...")
    i += 1
else:
    print ("Executing the ELSE Block...")
print ("End of the program...")

Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Looping for i = 6...
Looping for i = 7...
Looping for i = 8...
Looping for i = 9...
Looping for i = 10...
Executing the ELSE Block...
End of the program...

In [64]:
# nested loop
print ("Visit Doctor...")    # 1 time
medicount = 0
for day in range(1, 6):
    print ("Good Morning...")    # 5 times
    for medi in range(1, 4):
        print (f"Day Number: {day} and Medicine Number: {medi}...")    # 15 times
        medicount += 1    # 15 times
    print ("Good Night...")    # 5 times
    print ("--------------------------------")    # 5 times
print (f"So total number of mecines consumed will be {medicount}...")    # 1 time
print ("Thahks to Doctor...")    # 1 time

Visit Doctor...
Good Morning...
Day Number: 1 and Medicine Number: 1...
Day Number: 1 and Medicine Number: 2...
Day Number: 1 and Medicine Number: 3...
Good Night...
--------------------------------
Good Morning...
Day Number: 2 and Medicine Number: 1...
Day Number: 2 and Medicine Number: 2...
Day Number: 2 and Medicine Number: 3...
Good Night...
--------------------------------
Good Morning...
Day Number: 3 and Medicine Number: 1...
Day Number: 3 and Medicine Number: 2...
Day Number: 3 and Medicine Number: 3...
Good Night...
--------------------------------
Good Morning...
Day Number: 4 and Medicine Number: 1...
Day Number: 4 and Medicine Number: 2...
Day Number: 4 and Medicine Number: 3...
Good Night...
--------------------------------
Good Morning...
Day Number: 5 and Medicine Number: 1...
Day Number: 5 and Medicine Number: 2...
Day Number: 5 and Medicine Number: 3...
Good Night...
--------------------------------
So total number of mecines consumed will be 15...
Thahks to Doctor...

### User Defined Functions

In [67]:
def funct1():
    print ("Welcome to all..." * 3)
    
funct1()
funct1()
funct1()

Welcome to all...Welcome to all...Welcome to all...
Welcome to all...Welcome to all...Welcome to all...
Welcome to all...Welcome to all...Welcome to all...

In [70]:
def funct2(msg, times):
    print (msg * times)

funct2("Welcome ", 3)
funct2("Good Bye ", 5)
funct2("Hello ", 7)

Welcome Welcome Welcome
Good Bye Good Bye Good Bye Good Bye Good Bye
Hello Hello Hello Hello Hello Hello Hello

In [71]:
def funct3(msg, times):
    return msg * times

result = funct3("Welcome ", 3)
print (result)
result = funct3("Good Bye ", 5)
print (result)
result = funct3("Hello ", 7)
print (result)

Welcome Welcome Welcome
Good Bye Good Bye Good Bye Good Bye Good Bye
Hello Hello Hello Hello Hello Hello Hello

In [82]:
# parameters with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):   # positional parameters
    print (f"par1 = {par1}, par2 = {par2} and par3 = {par3}")
    
funct4(100, 200, 300)   # positional arguments
funct4(100, 200)
funct4(100)
funct4()
funct4(par3 = 300, par1 = 100)

par1 = 100, par2 = 200 and par3 = 300
par1 = 100, par2 = 200 and par3 = 333
par1 = 100, par2 = 222 and par3 = 333
par1 = 111, par2 = 222 and par3 = 333
par1 = 100, par2 = 222 and par3 = 300

In [79]:
def funct5(msg = "No Message ", times = 3):
    return msg * times

result = funct5("Welcome ", 3)
print (result)
result = funct5("Good Bye ", 5)
print (result)
result = funct5("Hello ", 7)
print (result)
result = funct5()
print (result)

Welcome Welcome Welcome
Good Bye Good Bye Good Bye Good Bye Good Bye
Hello Hello Hello Hello Hello Hello Hello
No Message No Message No Message

In [84]:
def funct6(par1, par2 = None):
    if (par2 == None):
    # if (par2 is None):
        return (par1 + par1)
    else:
        return (par1 + par2)
    
result = funct6("Happy ", "New Year")
print (result)
result = funct6("Happy ")
print (result)
result = funct6(100, 400)
print (result)
result = funct6(100)
print (result)

Happy New Year
Happy Happy
500
200

In [91]:
def funct7(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    prod = num1 * num2
    quot = num1 / num2
    return add, sub, prod, quot

aa, ss, pp, qq = funct7(100, 40)
print (f"So total = {aa}, Difference = {ss}, Product = {pp} and Quotient = {qq}...")
r = funct7(100, 40)
print (r, type(r), len(r))
print (f"So total = {r[0]}, Difference = {r[1]}, Product = {r[2]} and Quotient = {r[3]}...")

So total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...
(140, 60, 4000, 2.5) <class 'tuple'> 4
So total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...

In [ ]:
HOME WORK:
----------
Write the function body of fact_cal(num) which returns the factorial of num
i.e. fact_cal(5) will return 120
i.e. fact_cal(4) will return 24

In [7]:
# non-recursive factorial calculation function
def fact_cal_nr(num):
    if (num == 0 or num == 1): return 1
    fact = num
    for i in range(2, num):
        print (f"Looping for i = {i}...")
        fact = fact * i
    return fact

n = 5
print (f"So the factorial of {n} is {fact_cal_nr(n)}...")
print ()
n = 4
print (f"So the factorial of {n} is {fact_cal_nr(n)}...")

Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
So the factorial of 5 is 120...

Looping for i = 2...
Looping for i = 3...
So the factorial of 4 is 24...

In [9]:
# recursive factorial calculation function
def fact_cal_r(num):
    if (num == 0 or num == 1): return 1   # base case: means for certain inputs outputs are pre-known to us
    return num * fact_cal_r(num - 1)      # recursive case: function will call itself, n! = n * (n - 1)!, 5! = 5 * 4!

n = 5
print (f"So the factorial of {n} is {fact_cal_r(n)}...")
print ()
n = 4
print (f"So the factorial of {n} is {fact_cal_r(n)}...")

So the factorial of 5 is 120...

So the factorial of 4 is 24...

In [10]:
# Lambda function, anonymous function
my_square = lambda n: n * n   # here my_square is a function reference variable

print (type(my_square))
print (my_square(5))
print (my_square(6))

<class 'function'>
25
36

In [11]:
# Lambda function, anonymous function
my_addition = lambda n1, n2: n1 + n2   # here my_square is a function reference variable

print (type(my_addition))
print (my_addition(50, 40))
print (my_addition(600, 400))

<class 'function'>
90
1000

In [12]:
# recursive lambda function to calculate the factorial of a given number
lambda_fact_r = lambda num: 1 if (num == 0 or num == 1) else num * lambda_fact_r(num - 1)

print (lambda_fact_r(5))
print (lambda_fact_r(6))

120
720

### Dealing with Math Module

In [13]:
# importing math module
import math

In [28]:
print (math.sin(0), math.sinh(0), math.asin(0), math.cos(0), math.tan(0))
print (math.factorial(5), math.factorial(6), math.sqrt(100), math.sqrt(120))
print (math.ceil(10.1), math.ceil(10.9), math.floor(10.1), math.floor(10.9))
print (math.pow(10, 3), 10 ** 3, 10.0 ** 3)
print (math.sqrt(100), math.sqrt(200))
print (math.pi, math.e, math.tau)
print (math.log(100), math.log(100, math.e))
print (math.log(1000, 10), math.log10(1000))
print (math.log(1024, 2), math.log2(1024))
num1 = 100
num2 = 70
gcd = math.gcd(num1, num2)
lcm = (num1 * num2) // gcd
print (f"So GCD and LCM of {num1} and {num2} are {gcd}, {lcm}")

0.0 0.0 0.0 1.0 0.0
120 720 10.0 10.954451150103322
11 11 10 10
1000.0 1000 1000.0
10.0 14.142135623730951
3.141592653589793 2.718281828459045 6.283185307179586
4.605170185988092 4.605170185988092
2.9999999999999996 3.0
10.0 10.0
So GCD and LCM of 100 and 70 are 10, 700

In [29]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [30]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

In [33]:
print (math.remainder(100, 30), 100 % 30, 100.0 % 30)

10.0 10 10.0

### String Processing

In [ ]:
# index from left to right ->   0  1  2  3  4  5  6  7  8  9
# mystr =                       u  n  i  v  e  r  s  i  t  y
# index from right to left -> -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [39]:
mystr = "university"
print (mystr, len(mystr), id(mystr), type(mystr))
print (mystr[3], mystr[-7], mystr[6], mystr[-4])   # indexing
print (mystr[3:6], mystr[-7:-4], mystr[3:-4], mystr[-7:6])   # slicing
print (mystr[:6], mystr[:-4], mystr[6:], mystr[-4:])

university 10 2845625133296 <class 'str'>
v v s s
ver ver ver ver
univer univer sity sity

In [44]:
mystr = "calCUttA uniVersiTy"
print (mystr, len(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.swapcase())
print (mystr.capitalize())
print (mystr.title())
print (mystr.center(30))
print (mystr.title().center(30))

calCUttA uniVersiTy 19
CALCUTTA UNIVERSITY
calcutta university
CALcuTTa UNIvERSItY
Calcutta university
Calcutta University
     calCUttA uniVersiTy
     Calcutta University

In [46]:
mystr = "      calcutta    university    "
print (mystr, len(mystr))
print (mystr.strip())
print (mystr.lstrip())
print (mystr.rstrip())

      calcutta    university     32
calcutta    university
calcutta    university
      calcutta    university

In [47]:
mystr = "#@#@#calcutta    university##@@"
print (mystr, len(mystr))
print (mystr.strip("#@"))
print (mystr.lstrip("@#"))
print (mystr.rstrip("#@"))

#@#@#calcutta    university##@@ 31
calcutta    university
calcutta    university##@@
#@#@#calcutta    university

In [50]:
mystr = "Ram is a very good boy"
print (mystr)
my_words = mystr.split()
print (my_words)
my_words = mystr.split(" ")
print (my_words)
my_words = mystr.split("a")
print (my_words)

Ram is a very good boy
['Ram', 'is', 'a', 'very', 'good', 'boy']
['Ram', 'is', 'a', 'very', 'good', 'boy']
['R', 'm is ', ' very good boy']

In [52]:
my_word = ['Ram', 'is', 'a', 'very', 'good', 'boy']
mystr = " ".join(my_word)
print (mystr)
mystr = ", ".join(my_word)
print (mystr)
mystr = " - ".join(my_word)
print (mystr)

Ram is a very good boy
Ram, is, a, very, good, boy
Ram - is - a - very - good - boy

In [54]:
mystr = "university"
vcount = 0
for ch in mystr:
    print (ch)
    if (ch in "aeiou"):
        vcount += 1
print (vcount, len(mystr) - vcount)

u
n
i
v
e
r
s
i
t
y
4 6

In [55]:
mystr = "university"
vcount = 0
for i in range(len(mystr)):
    print (mystr[i])
    if (mystr[i] in "aeiou"):
        vcount += 1
print (vcount, len(mystr) - vcount)

u
n
i
v
e
r
s
i
t
y
4 6